@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&family=Sen:wght@800&display=swap');

body {
    color: #000;
    background-color: #F6F6F6;
}

h1 {
    font-family: 'Sen', sans-serif;
    font-weight: 800;
    font-size: 49px;
    margin-bottom: 0px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 37px; 
    margin-bottom: 7px;
    margin-top: 50px;
    line-height: 1.1;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 17px;
    margin-top: 0px;
}

p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    margin-top: 0px;
}

li {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.container {
    width: 60%;
    margin: auto;
}

.title {
    margin-bottom: 60px;
}

.section {
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .container {
        width: 70%
    };
}

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }

    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 15px;
    }

}